
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

body {
  background-color: #f8f9fa;
  font-family: 'Instrument Sans', sans-serif;
}

.navbar {
  padding: 19.2px 48px; /* top/bottom | left/right */
  transition: top 0.3s;
  font-family: 'Nunito Sans', sans-serif;
  height: 95px;
}
.navbar-brand img {
  height: 60px;
  width: 110px;
}

/* Custom Styles for the Contact Form */
.contact-form-section {
    background-color: #f0f0f0; /* Light grey background from original design */
}

.contact-form-section .form-title {
    letter-spacing: 5px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #333;
}

.contact-form-section .form-control {
    border: 1px solid #ddd;
    background-color: #efefef;
    padding: 0.75rem 1.25rem; /* Makes inputs a bit larger */
    border-radius: 0; /* Removes border-radius */
}

.contact-form-section .form-control:focus {
    box-shadow: none;
    border-color: #aaa;
}

.contact-form-section .form-button {
    letter-spacing: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    border-radius: 0; /* Removes border-radius from the button */
}

.navbar-brand img {
  height: 60px;
  width: 110px;
}

.btn-custom {
    background-color:#1c1c1c;
color: #f0f0f0;
}
